.container{
    border : 1px solid  #cccccc;
    padding: 20px;
    height: 100%;
}

div{
    font-weight: bold;

    i{
        font-size: 18px;
        cursor: pointer;

    }

    i:hover{
        color: rgb(141,198,63)
    }
}